<div class="input-container">
  <label for="input4">Password</label>
  <input id="input4" #input4="ngModel" ngModel required name="password" type="text">
  <form-control-status-visualizer [controlDirective]="input4"></form-control-status-visualizer>
</div>

<div class="input-container">
  <label for="input5">Password Confirmation</label>
  <input id="input5" #input5="ngModel" ngModel required name="passwordConfirmation" type="text">
  <form-control-status-visualizer [controlDirective]="input5"></form-control-status-visualizer>
</div>
