.main-form {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .main-form-submit {
    width: 5rem;
  }

  .update-on-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .field-item {
      flex: 1;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}
