<span *ngIf="controlDirective.invalid" [ngStyle]="{color: 'red'}">invalid</span>
<span *ngIf="controlDirective.pending" [ngStyle]="{color: 'orange'}">pending</span>
<span *ngIf="controlDirective.valid" [ngStyle]="{color: 'green'}">valid</span>
<span *ngIf="controlDirective.touched" [ngStyle]="{color: 'orange'}">touched</span>
<span *ngIf="controlDirective.untouched" [ngStyle]="{color: 'blue'}">untouched</span>
<span *ngIf="controlDirective.dirty" [ngStyle]="{color: 'brown'}">dirty</span>
<span *ngIf="controlDirective.pristine" [ngStyle]="{color: 'blue'}">pristine</span>
