<form #form="ngForm" class="main-form">
  <div class="wrapper">
    <div class="container">
      <div class="input-container">
        <label for="input1">Name</label>
        <input id="input1" #input1="ngModel" ngModel required name="name" type="text">
        <form-control-status-visualizer [controlDirective]="input1"></form-control-status-visualizer>
      </div>

      <age-container></age-container>

      <fieldset ngModelGroup="password">
        <legend>Password</legend>
        <password-container></password-container>
      </fieldset>
    </div>
    <div>
      {{ form.value | json }}
    </div>
  </div>
  <button [disabled]="form.invalid" type="submit" class="main-form-submit">Submit</button>
</form>
<form-control-status-visualizer [controlDirective]="form"></form-control-status-visualizer>

