.ng-invalid.ng-dirty {
  border: 2px solid red;
}

.ng-valid.ng-dirty {
  border: 2px solid green;
}

.ng-pending.ng-dirty {
  border: 2px solid orange;
}

.ng-pristine {
  border: 2px solid black;
}
